{% extends 'layout.html.twig' %}
{% block title %}Edit Role{% endblock %}
{% block content %}
  <div class="col-md-12">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-block btn-primary">Update User</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
