{% extends 'layout.html.twig' %}
{% block title %}Detail User{% endblock %}
{% block content %}
  <div class="col-md-12">
    <a href="{{ path('homepage') }}" class="btn btn-secondary">Back to Index</a>
  </div>
  <hr>
  <div class="col-md-12">
    <h2 class="page-header">{{user.name}}</h2>
    <ul class="list-group">
      <li class="list-group-item">Username : {{user.username}}</li>
      <li class="list-group-item">Password : {{user.password}}</li>
    </ul>
  </div>
{% endblock %}
